* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    margin: 0;
  }

  /* header */
header .emblema{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color:var(--color-1) ;
  padding: 20px;

}
.titulo{
    color:var(--color-4);
    margin:20px;
    font-size: 75px;
    font-family: "Sacramento", cursive;
    text-align: center;
}

#NaricesFriasSpan {
  color:#7469B6;
}

/*SlideBar edicion*/
.slideBar{
  overflow: hidden;
}

.slideBarInn{
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease-in;
}

.slideBarInn img{
  flex-shrink: 0;

  width: 100%;
  height: 60vh;
}

/*Footer edicion*/
#footerDiv {
  background-color:var(--color-1);
  width: 100%;
  overflow: hidden;
  text-align: auto center;
  display: flex;
  padding: 14px 16px;
  flex-direction: column;
}



#footerDiv .tituloFooter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footerDiv .tituloFooter h3{
  color:var(--color-4);
  margin:0 20px 0 20px;
  font-size: 50px;
  font-family: "Sacramento", cursive;
  flex-shrink: 0;
}
#footerDiv .tituloFooter .line{
  height: 1px;
  background-color: var(--color-4);
  width: 150px;
}



#footerDiv ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#footerDiv p{
  text-align: center;
  color: var(--color-4);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
