* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    margin: 0;
  }

  /* Google Fonts */
  .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  /* Google Fonts termina */

  /* header */
header .emblema{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color:var(--color-1) ;
  padding: 20px;

}
.titulo{
    color:var(--color-4);
    margin:20px;
    font-size: 75px;
    font-family: "Sacramento", cursive;
    text-align: center;
}
  
  /* top nav bar */
  .topnav {
    overflow: hidden;
    background-color:var(--color-2);
    color: var(--color-4);
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  
  /* topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: auto center;
    padding: 14px 16px;
    text-decoration: none;
    flex-grow: 1;
  }
  
  /* Cambia el color cuando hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Tres columnas al lado de la otra  */
  .cuerpo{
    background-color: var(--color-4);
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
    margin: 20px;
    background-color: var(--color-3);
    color:black;
    overflow: auto;
  }
  
  /* Columnas Despues  */
  .row::after {
    content: "";
    display: table;
    clear: both;

  }
  
  #footerDiv {
    background-color:var(--color-1);
    width: 100%;
    overflow: hidden;
    text-align: auto center;
    display: inline-flex;
    padding: 14px 16px;;
  }

  /* Responsive vertical */
