header{
    padding: 60px;
    text-align: center;
    background-image: url(../Media/fondoConPerritos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header .emblema{

    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 50%;
}

header div{
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

header h1{
    font-size: 40px;
    margin: 0 0 20px
}

header p{
    margin: 0 0 20px;
}

header