@import url(Aprendiendo.css);
@import url(nav.css);
@import url(colores.css);
@import url(cuerpo.css);

/*BreakPoints de la pagina*/
@media screen and (max-width:702px) {
    header{
        flex-direction: column;
    }

    .topnav{
      flex-direction: column;
      justify-content: center;
    }
    
    .cuerpo .bloque2{
      flex-direction: column;
    }
  }

/*Fuente para el titulo*/
.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
  }
  